@import "./reset.scss";
@import "./variable.scss";

body {
  font-family: $fonts;
  background: $black;
  color: $colorText;
  transition: .5s;
}
html, body, main { margin:0; height: 100%;}

.light {
  color: rgb(187, 187, 0);
}

.light-mode {
  background: $white;
  color: $lightColorText;

  & .profil__text {
    color: $black;
  }

 

  & .heading, & .services__heading, .nav__link {
    color: $lightColorBlack;
  }

  & p, & .footer__link {

    color: $lightColorText;
  }


  & .btn--white {
    background: $lightColorBlack;
    color: whitesmoke;
    &:hover {
      background: $primary;
    }
  }

  & .bg-linear {
    background: whitesmoke;
  }

  & input, & textarea {
    background: lightgray;
    color: $lightColorBlack;
  }

 
}

a {
  text-decoration: none;
}
h1, h2, h3, h4 {
  color: $white;
  font-weight: 600;
}
h1 {
  font-size: 6rem;
  letter-spacing: 1px;
}

h2 {
    font-size: 5rem;
  letter-spacing: 2px;
}

h3 {
    font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

img {
  object-fit: contain;
}

button {
  border: none;
  cursor: pointer;
}

.services__list {
    font-size: 1.4rem;
    list-style-type: disc;

}

p {
  font-size: 2rem;
  color: $colorText;
  line-height: 2.6rem;
}

section {
  padding: 10rem 3rem;
}

input, textarea {
  font-family: $fonts;
  outline-color: rgb(42, 12, 77);
  color: $white;
  border: none;
  border: 1px solid #2e0a5d;
  background: #292929;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 2rem;
}
textarea {
  resize: none;
}

.test {
  background: red;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
}

// Wrapper
.wrapper-heading {
  max-width: 50rem;
  margin-bottom: 2rem;
}
.wrapper__intro {
 background: url('../img/bg-heading2.png') no-repeat;
 background-position: top;
 background-size: contain;
justify-content: center;
align-items: center;
padding-bottom: 7rem;
}


.wrapper-heading2 {
    max-width: 32rem;
}

.wrapper-text {
    max-width: 60rem;
}

.mail {
  color: $primary;
}

.span-langage {
  display: inline-block;
  color: $white;
  background: $primary;
  padding: 0.3rem 0.3rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}
.ml {
    margin-left: .7rem;
}
#strongflash {
  color: $white;
    font-size: 1.1rem;
    padding: 1rem;
    display: block;
    text-align: center;
    background: $primary;
}
// FLEXBOX
.dp-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.column {
    flex-direction: column;
  }
}





//BTN
.btn {
  padding: 1.6rem 2rem 1.5rem;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 5px;
  transition: 0.5s;

  &--white {
    background: $white;
    color: $black;
    font-weight: 500;

    &:hover {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
  &--purple {
    background: $primary;
    color: $white;

    &:hover {
      background: rgba(63, 3, 214, 0.6);
    }
  }
}

.span-heading {
  display: block;
}

.header {
    border-bottom: 1px solid rgba(63, 3, 214, 0.6);
}

.nav {
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;

  &__container {
    justify-content: space-between;
  }
  &__link {
    color: $white;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 5rem;
    display:inline-block;
    transition: all 250ms ease-in-out;
    &:hover {
  color: $primary;

    }

    &::after {
      display:block;
  content: '';
  border-bottom: solid 2px $primary;;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

&:hover::after {
      transform: scaleX(1);

    }
  }

  &__toggle {
    display: none;
  }

  &__light {
    font-size: 2rem;
    cursor: pointer;
  }
}
.background-profil {
  background: url('../img/Lovepik_com-400234957-fluid-gradient.png') no-repeat;
  background-size: contain;
  background-position: bottom center;

}
//Profile
.profil {
  
  &__text {
    color: $white;
  }
  
  &__container {
    max-width: 50rem;
    padding-bottom: 2rem;
  }
}

//Services
.bg-linear {
  background: linear-gradient(
    0deg
    , rgba(14, 1, 46, .8) 0%, black 100%);

}
.services {
  
    
    
    &__listing-container {
        display: flex;
        flex-flow: column;
        flex: 1 1;

      }

      &__heading {
          padding-bottom: 2rem ;
              }

    &__listing {
        margin-bottom: 2rem;
        transition: 0.3s;
    
       
      }
      &__list {
        padding-bottom: 2rem;
        list-style-type: disc;
        margin-left: 2rem;
      }
    
}

//project
.project {

  &__langage {
    padding-bottom: 1rem;
  }

  &__container {
    gap: 2rem;
  }
  &__card {
    padding-bottom: 2rem;
  }

  &__container-card--right {
    transform: translateY(15rem);
  }

  &__container-card {
    display: flex;
    flex-flow: column;
    flex: 1 1;
  }

  
  &__title {
    color: $white;
    padding: 1rem;
  }
  &__text {
    font-size: 1.4rem;
    padding: 1rem;
  }
}

//contact 
.contact {
  &__error {
    display: inline-block;
    color: white;
    border-radius: 1.9px;
    background: #CA433B;
    padding: 0.5rem;
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
    visibility: hidden;
    transition: .3s;
  }
  &__group.error &__error {
    visibility: visible;
  }
}

//FOOTER 
.footer {
  &__container {
    border-top: 1px solid rgba(63, 3, 214, 0.6);
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  
 &__link {
   font-size: 1.6rem;
   color: $white;
   padding-right: 1rem;
   transition: all 250ms ease-in-out;
   &:hover {
 color: $primary;

   }

  
 }
  .copy {
    font-size: 1.2rem;
  }
}

@import './tablet.scss';
@import './mobile.scss';