// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

// FONTS
$fonts: "Inter", sans-serif;

//COLORS
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$primary: rgb(63, 3, 214);

$colorText: rgb(175, 173, 173);

$lightColorText: rgb(110, 109, 122);
$lightColorBlack: rgb(33, 33, 33);
