// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

// FONTS
$fonts: "Inter", sans-serif;

//COLORS
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
