/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: black;
  color: #8a8f98;
  transition: 0.5s;
}

.light {
  color: #bbbb00;
}

.light-mode {
  background: white;
  color: #6e6d7a;
}
.light-mode .heading, .light-mode .services__heading, .light-mode .nav__link {
  color: #212121;
}
.light-mode p {
  color: #6e6d7a;
}
.light-mode .btn--white {
  background: #212121;
  color: whitesmoke;
}
.light-mode .btn--white:hover {
  background: #3f03d6;
}
.light-mode .bg-linear {
  background: whitesmoke;
}
.light-mode input, .light-mode textarea {
  background: lightgray;
  color: #212121;
}
.light-mode .footer__link {
  color: #212121;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: white;
  font-weight: 600;
}

h1 {
  font-size: 6rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 5rem;
  letter-spacing: 2px;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

img {
  object-fit: contain;
}

button {
  border: none;
  cursor: pointer;
}

.services__list {
  font-size: 1.4rem;
  list-style-type: disc;
}

p {
  font-size: 2rem;
  color: #afadad;
  line-height: 2.6rem;
}

section {
  padding: 10rem 3rem;
}

input, textarea {
  font-family: "Inter", sans-serif;
  outline-color: #2a0c4d;
  color: white;
  border: none;
  border: 1px solid #585858;
  background: #292929;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 2rem;
}

textarea {
  resize: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper-heading {
  max-width: 50rem;
  margin-bottom: 2rem;
}

.wrapper__intro {
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
}

.wrapper-heading2 {
  max-width: 32rem;
}

.wrapper-text {
  max-width: 60rem;
}

.mail {
  color: #6e00ff;
}

.span-langage {
  display: inline-block;
  color: white;
  background: #3f03d6;
  padding: 0.3rem 0.3rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

.ml {
  margin-left: 0.7rem;
}

.dp-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dp-flex.column {
  flex-direction: column;
}

.btn {
  padding: 1.6rem 2rem 1.5rem;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 5px;
  transition: 0.5s;
}
.btn--white {
  background: white;
  color: black;
  font-weight: 500;
}
.btn--white:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.btn--purple {
  background: #3f03d6;
  color: white;
}
.btn--purple:hover {
  background: rgba(63, 3, 214, 0.6);
}

.span-heading {
  display: block;
}

.header {
  border-bottom: 1px solid rgba(63, 3, 214, 0.6);
}

.nav {
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}
.nav__container {
  justify-content: space-between;
}
.nav__link {
  color: white;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 5rem;
  display: inline-block;
  transition: all 250ms ease-in-out;
}
.nav__link:hover {
  color: #3f03d6;
}
.nav__link::after {
  display: block;
  content: "";
  border-bottom: solid 3px #3f03d6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav__link:hover::after {
  transform: scaleX(1);
}
.nav__toggle {
  display: none;
}
.nav__light {
  font-size: 2rem;
  cursor: pointer;
}

.profil__container {
  max-width: 50rem;
  padding-bottom: 2rem;
}

.bg-linear {
  background: linear-gradient(0deg, rgba(14, 1, 46, 0.8) 0%, black 100%);
}

.services__listing-container {
  display: flex;
  flex-flow: column;
  flex: 1 1;
  align-items: center;
}
.services__heading {
  padding-bottom: 2rem;
}
.services__listing {
  margin-bottom: 2rem;
  transition: 0.3s;
}
.services__list {
  padding-bottom: 2rem;
  list-style-type: disc;
  margin-left: 2rem;
}

.project__langage {
  padding-bottom: 1rem;
}
.project__container {
  gap: 2rem;
}
.project__card {
  padding-bottom: 2rem;
}
.project__container-card--right {
  transform: translateY(15rem);
}
.project__container-card {
  display: flex;
  flex-flow: column;
  flex: 1 1;
}
.project__title {
  color: white;
  padding: 1rem;
}
.project__text {
  font-size: 1.4rem;
  padding: 1rem;
}

.contact__error {
  display: inline-block;
  color: #e74c3c;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  visibility: hidden;
}
.contact__group.error .contact__error {
  visibility: visible;
}

.footer__container {
  border-top: 1px solid rgba(63, 3, 214, 0.6);
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.footer__link {
  font-size: 1.6rem;
  color: white;
  padding-right: 1rem;
  transition: all 250ms ease-in-out;
}
.footer__link:hover {
  color: #3f03d6;
}
.footer .copy {
  font-size: 1.2rem;
}

@media screen and (max-width: 980px) {
  .wrapper__intro {
    flex-direction: column;
    align-items: center;
  }

  .wrapper-heading2 {
    max-width: 100%;
    padding-bottom: 2rem;
  }

  .wrapper-text {
    max-width: 67%;
    text-align: center;
  }

  .ml {
    margin: 0;
  }

  .project__text, .project__title {
    padding: 0.3rem;
  }
}
@media screen and (max-width: 760px) {
  p {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }

  .header {
    position: relative;
    z-index: 99;
  }

  .nav {
    position: fixed;
    width: 100%;
    height: 10rem;
    flex-direction: column;
    background: black;
    border-bottom: 1px solid #3f03d6;
  }
  .nav__container {
    position: absolute;
    top: calc(9rem + 1rem);
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    background-color: #212121;
    z-index: 99;
    padding: 5rem 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    transition: max-height 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform-origin: top;
    transform-origin: top;
    overflow: auto;
  }
  .nav__toggle {
    display: block;
    font-size: 3rem;
    cursor: pointer;
    color: white;
  }
  .nav__link {
    padding: 2rem 0;
    margin: 0;
  }
  .nav__link:hover {
    background: #141414;
  }
  .nav__link::after {
    display: none;
  }

  .show-menu {
    transform: scaleY(1);
    max-height: 100vh;
  }

  .wrapper-text {
    max-width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
